.card {
  border-radius: 24px;
  padding: 24px;
  color: var(--green);
  box-shadow: 10px 10px 60px var(--green);
}

.card_yellow {
  background-color: var(--yellow);
}

.card_white {
  background-color: var(--white);
}

.card_white .card__new-project {
  background-color: var(--yellow);
  color: var(--green);
}

.card_yellow .card__new-project {
  background-color: var(--green);
  color: var(--white);
}

.card__new-project {
  padding: 2px 16px;
  float: right;
  border-radius: 37px;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.card__image {
  width: 100%;
}

.card__bottom {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__flag {
  border-radius: 100%;
  border: 1px solid var(--green);
}

/* adaptive */
/* mobile */

@media (max-width: 640px) {
}

/* adaptive */
/* desktop */

@media (min-width: 641px) {
  .card {
    min-width: 24vw;
  }
}
