.launch-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.launch-buttons__button {
  border: 1px solid var(--gray2);
  border-radius: 8px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.launch-buttons__launch-text {
  font-size: 7px;
  font-weight: 400;
  line-height: 8px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

.launch-buttons__store-title {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}
