.launch-soon {
  background-color: #ff6700;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  color: var(--cl-white);
  height: fit-content;
}
.store-button {
  background-color: var(--cl-grey);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* adaptive */
/* mobile */

@media (max-width: 640px) {
  .store-button {
    height: 1.75rem;
    width: 4rem;
  }
}

/* adaptive */
/* desktop */

@media (min-width: 641px) {
  .store-button {
    height: 2.5rem;
    width: 5rem;
  }
}
