.page-7__phone-group {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.page-7__header {
  margin-bottom: 16px;
}

.page-7__tab {
  width: 100%;
}
.page-7__between-arrows-text-block {
  max-width: 38vw;
}

.page-7__paragraph {
  color: var(--cl-grey);
}

.page-7__arrow-right {
  color: black;
}

.page-7__between-arrows {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* adaptive */
/* mobile */

@media (max-width: 640px) {
  .page-7__header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

/* adaptive */
/* desktop */

@media (min-width: 641px) {
  .page-7__phone-group {
    gap: 60px;
  }
  .page-7__header {
    margin-bottom: 1.5rem;
  }
}
