.page-3 {
}

.page-3__header {
  margin: 0 60px;
  margin-bottom: 24px;
}

.page-3__paragraph {
  margin: 0 60px;
}

/* adaptive */
/* mobile */

@media (max-width: 640px) {
}

/* adaptive */
/* desktop */

@media (min-width: 641px) {
  .page-3 {
    margin: 0 10vw;
    max-width: 760px;
  }
  .page-3__header {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
  }
  page-3__paragraph {
  }
}
