.table {
  margin: auto;
  padding: 20px 24px;
  background-color: var(--gray2);
  border-radius: 16px;
}

.table__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.table__row:last-child {
  box-shadow: 0px -1px 0px 0px var(--green) inset;
}

.table__cell:nth-child(2n + 1) {
  color: var(--green);
}

.table__cell:nth-child(2n) {
  color: var(--red);
}

.table__bottom {
  margin-top: 12px;
  color: var(--green);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

/* adaptive */
/* mobile */

@media (max-width: 640px) {
}

/* adaptive */
/* desktop */

@media (min-width: 641px) {
  .table__bottom {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
  .table__content {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
}
